.table {
    width: 100%;
    border-collapse: collapse;
}

.table th {
    background-color: #1c64bd;
    color: #fff;
}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.heading {
    text-align: left;
}